<form>
  <label for="board_title">Title</label>
  <input type="text"
         id="board_title"
         name="board[title]"
         value="<%= board.escape("title") %>">

  <input type="submit" value="Create Board">
</form>