
<h1><%= board.escape("title") %></h1>


<p>This board was created by User #<%= board.escape("user_id") %></p>

<h2>Lists</h2>

<div class="all-lists">
  <% board.lists().each(function(list) { %>
  <div class="one-list" id="<%= list.id %>">

    <p><%= list.get("title") %></p>
    <button class="new-card">Add new card</button>

    <div id="insert-cards">
      <!-- this is where card index view lives -->
    </div>

  </div>
  <% }) %>
</div>

<button class="new-list">Add a New List</button>