/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require jquery.ui.all
 *= require_tree .
 */

@import "bootstrap";
@import "font-awesome";

.navbar.navbar-default {
  background-color: #2C6AA9;
}

html {
  height: 100%;
  background-color: #3383D3;
}

div.backdrop {
  background-color: #3383D3;
}

div.navbar-header > a.navbar-brand {
  color: white;
}

.board-display > h1 {
  color: white;
}

div.one-list {
  float: left;
  padding: 10px;
  margin: 5px;
  background-color: #CCC;
  width:250px;
	border-radius: 5px;
}

div.one-list > p {
  font-weight: bold;
}

button.destroy-list {
  float:left;
  display: inline;
}

button.new-card-form {
  float: left;
}

li > a {
  color: white;
  font-weight: bold;
}

input#submit-new-list, input#submit-new-card {
  background-color: green;
  color: white;
  font-weight: bold;
}

div.card {
	display: block;
	background-color: white;
	text-align: center;
	border-radius: 5px;
	margin: 10px 0 10px 0;
	display:relative;
}

div.cards-index {
	position: relative;
}

span.delete-button {
	display: none;
}

span.delete-button.visible {
	position: absolute;
	right: 5px;
	display: inline;
}

span.delete-button.visible:hover {
	color: green;
	cursor: pointer;
}